.btn1 {
    width: 100px;
    position: relative;
    padding:5px;
    color: #4369b1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 100ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    border-radius: 10px;
    font-weight: 100;
    overflow: hidden;
    border: 3px solid #4369b1;
    text-decoration: none;
  }