.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1C4592;
  color: #CEE9FD;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #CEE9FD;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}