body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s, background 1s; 
}

body.light-mode::before {
    background: #04112c;
    opacity: 1;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 20px 130px;
}

.card {
    color: #00E9FF;
    margin: 20px;
    padding: 20px;
    box-shadow: -5px 5px 10px #086db6;
    border-radius: 10px;
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 64px;
    background: #e2e2e221;
    box-shadow: 15px 15px 15px #1d1d1d,
        -10px 10px 5px #2656af;
}

.card a {
    background-color: #209EF8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.card a:hover {
    background-color: #00E9FF;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15%;
    background: rgba(16, 29, 71, 0.356);
    box-shadow: 15px 15px 15px #1d1d1d,
        -10px 10px 5px #2656af;
}

.version {
    font-size: 14px;
    font-weight: bold;
    color: #CEE9FD;
}

.filter {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.filter label {
    margin-right: 10px;
    color: #CEE9FD;
}

.filter select {
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #ddd;
}



:root[data-theme="light"] {
    --text: #130901;
    --background: #ffffff;
    --primary: #873503;
    --secondary: #fdd7bf;
    --accent: #ea5d06;
  }
  :root[data-theme="dark"] {
    --text: #fef4ec;
    --background: #000000;
    --primary: #fcab78;
    --secondary: #401a02;
    --accent: #f96d15;
  }